.root {
  font-family: monospace;

  &[data-nodata='true'] {
    color: var(--mantine-color-yellow-9);
    text-decoration: underline dotted var(--mantine-color-yellow-9);
    text-underline-offset: rem(2px);
  }

  &[data-error='true'] {
    color: var(--mantine-color-red-8);
  }
}
