.navbar {
  background-color: var(--dark-background);
  border-inline-end: none;
}

.header {
  border-bottom: 1px solid var(--dark-background);
}

.burger {
  background-color: alpha(var(--mantine-color-blue-4), 0.3);
  border-radius: rem(100px);
  padding: rem(10px);
}

.aside {
  background-color: var(--mantine-color-dark-7);
}

.aside-drawer-body {
  height: calc(100vh - 60px);
}

.aside-drawer-title {
  font-size: 15pt;
}
