.paper {
  background-color: var(--mantine-color-dark-8);
  border-left: 2px solid var(--mantine-color-dark-3);
  border-radius: rem(5px);
  height: fit-content;
  width: em(410px);
  max-width: em(410px);
  min-width: em(410px);

  .header {
    background-color: var(--mantine-color-dark-6);
    border-top-left-radius: rem(5px);
    border-top-right-radius: rem(5px);
    padding-left: rem(10px);
    padding-right: rem(10px);

    .title {
      font-weight: 500;
      height: rem(40px);
      align-content: center;
    }
  }
}
.refresh-button {
  color: var(--mantine-color-gray-3);

  &:hover {
    color: var(--mantine-color-gray-6);
  }
}
