.root {
  color: inherit;
  text-decoration: inherit;
  height: 100%;
  padding-left: rem(20px);
  padding-right: rem(20px);

  &[data-alert='true'] {
    background-color: var(--mantine-color-red-9);
  }
}

.group {
  height: 100%;
}
