.header {
  width: 100%;
}

.paper {
  max-width: calc(var(--notification-aside-width) - rem(35px));
  background-color: var(--dark-background);
  padding-top: rem(10px);
  padding-bottom: rem(4px);
  padding-left: rem(16px);
  padding-right: rem(16px);
  overflow-wrap: break-word;
}

.message {
  white-space: pre-line;

  p {
    margin-top: 0px;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 0.15em;
  }

  &[data-is-error='true'] {
    color: var(--mantine-color-red-9);
  }
}
